@page
@model weekday.Pages.Manager.ProjectDetails
@using weekday.Models
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "ProjectDetails";
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-0 py-3 ms-3">
        <div class="container-xl">

            <p class="navbar-brand ms-10 fs-5">
                @Model.projectNAME
            </p>

            <form method="post" asp-page-handler="Toggle_Team" asp-route-projectID="@Model.projectID"
                asp-route-projectName="@Model.projectNAME" class="d-flex align-items-lg-center mt-3 mt-lg-0 me-10">
                <button type="submit" class="btn d-inline-flex btn-sm btn-info" id="CreateTeam">
                    <span class=" pe-2">
                        <i class="bi bi-plus"><i class="fa-solid fa-plus" style="color: #ffffff;"></i></i>
                    </span>
                    <span class="text-white">Create Team</span>
                </button>
            </form>
        </div>
</div>
</nav>
<div class="row bg-white  ms-3 mt-4" style="height:600px;">

    <div class="col-7 h-full d-flex flex-column align-items-center" style="overflow-y:auto; overflow-x: hidden;">
        <div class="w-3/4 d-flex flex-column align-items-center mt-8">
        @if(TempData["msg"]!=null){
                    <p class="text-danger text-center fs-6" id="displaytext" style="display: block;">
                        @TempData["msg"]
                    </p> 
        }

        @foreach(var team in Model.teamList){
            <a asp-page="../Manager/AddManagers" asp-route-projID="@Model.projectID" asp-route-teamID="@team.TeamId" class="teams w-full rounded-1 my-5 h-20" style="box-shadow: 0px 0px 6px rgba(82, 82, 82, 0.529);">
                <div class=" w-full">
                    <div class="progress progress-lg" style="height: 5px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <div class="fs-5 pt-4 d-flex justify-content-around">
                        <p class="" style="color: rgb(99, 99, 99);">@team.Name</p>
                        <p class="badge badge-lg badge-dot">
                            <i class="@(team.Status == "Active" ? "bg-success" : "bg-danger")"></i>@team.Status
                        </p>
                    </div>
                </div>
            </a>
        }
            
        </div>
    </div>
    <div class="col h-full fs-6 " style="position-fixed">
        <div class="">

        </div>
        @{
            if (Model.toggleTeam)
            {
                <div class="h-full" id="CreateTeamFeild">
                    <div class="projectDetailheader d-flex border border-solid py-4 ps-4 mt-10">
                        <p class="ms-3">Details</p>
                        @if(Model.projectDetails.Status=="ToDo"){
                            <p class="badge badge-lg badge-dot ms-10">
                                <i class="bg-warning"></i>@Model.projectDetails.Status
                            </p>
                        }else if(Model.projectDetails.Status=="InProgress"){
                            <p class="badge badge-lg badge-dot ms-10">
                                <i class="bg-success"></i>@Model.projectDetails.Status
                            </p>
                        }else if(Model.projectDetails.Status=="Completed"){
                            <p class="badge badge-lg badge-dot ms-10">
                                <i class="bg-Primary"></i>@Model.projectDetails.Status
                            </p>
                        }
                    </div>
                    <div class="projectDetailmain border border-solid py-4 ps-4 h-2/3">
                        <div class="d-flex">
                            <div class="">
                                <div class="d-flex px-3 my-4">
                                    <p class="me-16">Assignee :</p>
                                    <p class="me-2 text-start">@Model.projectDetails.FirstName @Model.projectDetails.LastName</p>
                                </div>
                                <div class="d-flex px-3 my-4">
                                    <p class="me-10">Designation :</p>
                                    <p class="me-2 text-start">@Model.projectDetails.DesignationName</p>
                                </div>
                                <div class="d-flex my-4 px-3 ">
                                    <p class="me-8">Created Date :</p>
                                    <p class="me-2 text-start text-primary">@Model.projectDetails.CreatedAt.ToString("MMMM dd, yyyy")</p>
                                </div>
                                <div class="d-flex my-4 px-3 ">
                                    <p class="me-2">Project Deadline :</p>
                                    <p class="me-2 text-start text-primary">@Model.projectDetails.Deadline.ToString("MMMM dd, yyyy")</p>
                                </div>
                                <div class="d-flex my-4 px-3 ">
                                    <p class="me-8">Starting Date :</p>
                                    <p class="me-2 text-start text-primary">@Model.projectDetails.StartDate.ToString("MMMM dd, yyyy")</p>
                                </div>
                                <div class="d-flex my-4 px-3 ">
                                    <p class="me-16">End Date :</p>
                                    <p class="me-2 text-start text-primary">@Model.projectDetails.EndDate.ToString("MMMM dd, yyyy")</p>
                                </div>
                                <div class="d-flex my-4 px-3">
                                    <p class="me-20">About :</p>
                                    <p class="me-2 text-start">@Model.projectDetails.About</p>
                                </div>
                                <div class="d-flex my-4 px-3">
                                    <p class="me-20">Details:</p>
                                    <p class="me-2 text-start">@Model.projectDetails.Details</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <partial name="Shared/_CreateTeamForm" model="Model" />
            }
        }
    </div>
</div>

</div>

@section Scripts{
    <script>
    $(document).ready(function () {
        
        setTimeout(function () {
            $('#displaytext').css('display', 'none'); 
        }, 4000);
    });
    </script>
}
