@page
@model weekday.Pages.Team_Lead.ProjectsModel
@{
    ViewData["Title"] = "Projects";  
}

<section>
        <div class="d-flex justify-content-between p-4">
            <div> Projects </div>
            
        </div>

        <div class="row my-3">
            <div class="col-12 col-lg-4 col-md-4">
                <div class="card" style="height: 85vh;">
                     <div class="card-body card-scroll d-flex flex-column" style="gap : 10px;">
                    @{
                        if (Model.projectDetails.Count != 0)
                        {
                            foreach(var projectCard in Model.projectDetails)
                            {
                                if(projectCard.ProjectStatus.Equals("ToDo"))
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">@projectCard.ManagerFirstName</span>
                                                    <span class="h3 font-bold mb-0">@projectCard.ProjectName</span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                                    <i class="bi bi-credit-card"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2 mb-0 text-sm">
                                                <span class="badge rounded-pill text-bg-info bg-opacity-30 text-info me-2">@projectCard.ProjectStatus</span>
                                                <span class="text-nowrap text-xs text-muted">Since last month</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                               
                            }
                        }
                    }
                    </div>
                </div>   
            </div>

            <div class="col-12 col-lg-4 col-md-4 ">
                <div class="card" style="height: 85vh;">
                <div class="card-body card-scroll d-flex flex-column" style="gap : 10px;">
                    @{
                        if (Model.projectDetails.Count != 0)
                        {
                            foreach (var projectCard in Model.projectDetails)
                            {
                                if (projectCard.ProjectStatus.Equals("OnGoing"))
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">@projectCard.ManagerFirstName</span>
                                                    <span class="h3 font-bold mb-0">@projectCard.ProjectName</span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                                        <i class="bi bi-credit-card"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2 mb-0 text-sm">
                                                <span class="badge rounded-pill text-bg-warning bg-opacity-30 text-warning me-2">@projectCard.ProjectStatus</span>
                                                <span class="text-nowrap text-xs text-muted">Since last month</span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    }
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="card" style="height: 85vh;">
                <div class="card-body card-scroll d-flex flex-column" style="gap : 10px;">
                    @{
                        if (Model.projectDetails.Count != 0)
                        {
                            foreach (var projectCard in Model.projectDetails)
                            {
                                if (projectCard.ProjectStatus.Equals("Completed"))
                                {
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="h6 font-semibold text-muted text-sm d-block mb-2">@projectCard.ManagerFirstName</span>
                                                    <span class="h3 font-bold mb-0">@projectCard.ProjectName</span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                                        <i class="bi bi-credit-card"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2 mb-0 text-sm">
                                                <span class="badge rounded-pill text-bg-sucess bg-opacity-30 text-success me-2">@projectCard.ProjectStatus</span>
                                                <span class="text-nowrap text-xs text-muted">Since last month</span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    }
                    </div>
                </div>
            </div>
        </div>
        
    </section>


@section Scripts {
    <script>
        $(document).ready(function () {
            
        });
    </script>
}